@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light|Source+Sans+Pro:400,700");
html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #666;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-size: 38px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
}

.script-font {
  font-family: 'Shadows Into Light', cursive;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
  font-size: 14px;
}

ul, ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

ul li, ol li {
  list-style: none;
}

.hero-heading {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  line-height: 70px;
  letter-spacing: 0.1rem;
}

.hero-sub-heading {
  font-size: 20px;
  font-weight: 400;
  color: #e6e6e6;
  line-height: 45px;
  letter-spacing: 0.1rem;
}

.section-titile-bg {
  display: inline;
  font-size: 115px;
  font-weight: 700;
  height: 100%;
  left: -173px;
  opacity: 0.1;
  position: absolute;
  top: -14px;
  width: 100%;
  text-align: center;
}

.section-title-header p {
  text: center;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 36px;
}

.section-title {
  color: #252525;
  font-size: 38px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 48px;
  padding: 0 10px;
  position: relative;
}

.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 0px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  background-color: #00c2bf;
  position: relative;
  z-index: 1;
}

.btn-danger{
  background-color: transparent;
  color: #00c2bf;
  border: .5px solid #00c2bf;
}

.btn-common:hover {
  color: white;
  background-color: #059997;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.btn-danger:hover {
  background-color: #00c2bf;
  border: .5px solid #00c2bf;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.btn-border {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.btn-border:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  padding: 7px 10px;
  text-transform: capitalize;
}

button:focus {
  outline: none !important;
}

.icon-close, .icon-check {
  color: #00c2bf;
}

.social-icon li {
  display: inline-block;
}

.social-icon li a {
  color: #000;
  background: #fff;
  width: 35px;
  height: 35px;
  line-height: 38px;
  display: block;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  margin: 15px 6px 12px 6px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.social-icon li a:hover {
  color: #fff;
}

.social-icon li .facebook:hover {
  background: #316FF6;
}

.social-icon li .twitter:hover {
  background: grey;
}

.social-icon li .instagram:hover {
  background: #D6274D;
}

.social-icon li .linkedin:hover {
  background: #1260A2;
}

.social-icon li .google:hover {
  background: #CE332A;
}

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #00c2bf;
  border-radius: 2px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top:hover, a.back-to-top:focus {
  text-decoration: none;
}

#loader {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
}

.square-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
}

.square-spin img {
  max-width: 64px;
}

.section-padding {
  padding: 60px 0px;
}

#about .img-thumb img {
  border: 8px solid #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.profile-wrapper {
  padding: 45px 0;
}

.profile-wrapper .btn {
  margin: 10px 10px 0px 0px;
}

.profile-wrapper .btn i {
  vertical-align: middle;
  margin-right: 5px;
}

.about-profile {
  position: relative;
  margin: 20px 0 20px 0;
}

.about-profile .pro-title {
  font-weight: 700;
  color: #040404;
  position: relative;
  width: 120px;
  display: inline-block;
  margin-bottom: 5px;
}

.about-profile .pro-title:after {
  position: absolute;
  content: ':';
  color: #040404;
  font-size: 14px;
  left: 77px;
}

.about-profile .admin-sign {
  position: absolute;
  right: 45px;
  bottom: 10px;
}

.counter-section {
  overflow: hidden;
  position: relative;
}

/* .counter-section:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
} */

.counter-section .counter {
  padding: 30px 0;
}

.counter-section .counter .icon {
  margin-bottom: 30px;
}

.counter-section .counter .icon i {
  font-size: 48px;
  color: #00c2bf;
}

.counter-section .counter p {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 30px 0;
}

.counter-section .counter .counterUp {
  color: #fff;
  font-size: 42px;
  margin-top: 15px;
  font-weight: 700;
}

/* Education */
.timeline {
  position: relative;
}

.timeline .timelin-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 25px;
}

.timeline li {
  padding: 0 20px 20px 30px;
  list-style: none;
  border-left: 2px solid #fff;
}

.timeline li .content-text {
  background: #fff;
  padding: 20px;
}

.timeline li .line-title {
  font-size: 16px;
  line-height: 6px;
}

.timeline li span {
  font-size: 12px;
  padding: 9px 0;
  display: block;
}

.timeline li .line-text {
  color: #888;
  line-height: 18px;
}

.timeline li:first-child:before {
  border: 0;
  background: none;
  position: relative;
}

.timeline li:last-child {
  padding: 0 20px 0px 30px;
}

.timeline li:before {
  content: "";
  border: solid 2px;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  font-size: 8px;
  margin-left: -35px;
  font-weight: 400;
  background: #fff;
  display: block;
  position: absolute;
  margin-top: 18px;
  border-color: #00c2bf !important;
}

.timeline li:first-child i {
  font-size: 20px;
  float: left;
  margin-left: -30px;
  line-height: 50px;
  border-radius: 30px;
  margin: -12px -55px;
  background: #00c2bf;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
}

.timelinecontact {
  position: relative;
}

.timelinecontact .timelin-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 25px;
}

.timelinecontact li {
  padding: 0 20px 20px 30px;
  list-style: none;
  border-left: 0px solid #fff;
}

.timelinecontact li .content-text {
  background: #fff;
  padding: 20px;
}

.timelinecontact li .line-title {
  font-size: 16px;
  line-height: 6px;
}

.timelinecontact li span {
  font-size: 12px;
  padding: 9px 0;
  display: block;
}

.timelinecontact li .line-text {
  color: #888;
  line-height: 18px;
}

.timelinecontact li:first-child:before {
  border: 0;
  background: none;
  position: relative;
}

.timelinecontact li:last-child {
  padding: 0 20px 0px 30px;
}

.timelinecontact li:before {
  content: "";
  border: solid 0px;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  font-size: 8px;
  margin-left: -35px;
  font-weight: 400;
  display: block;
  position: absolute;
  margin-top: 18px;
  border-color: #00c2bf !important;
}

.timelinecontact li:first-child i {
  font-size: 20px;
  float: left;
  margin-left: -30px;
  line-height: 50px;
  border-radius: 30px;
  margin: -12px -55px;
  background: #00c2bf;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
}


.navbar-brand {
  position: relative;
  padding: 0px;
}

.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  top: 0px !important;
  min-height: 58px;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  background: #fff !important;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-brand img {
  width: 65%;
}

.top-nav-collapse .navbar-nav .nav-link {
  color: #333 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: #00c2bf !important;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #00c2bf !important;
}

.indigo {
  background: #fff;
}

.menu-bg {
  background: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link i {
  font-size: 28px;
  color: #00c2bf;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-link i:hover {
  color: #21cff3;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #333;
  font-weight: 700;
  padding: 0 17px;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
  color: #00c2bf;
  outline: none;
}

.navbar {
  padding: 0;
}

.navbar li.active a.nav-link {
  color: #00c2bf;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 99;
  min-width: 210px;
  background-color: #fff;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.dropdown-menu:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: -5px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  text-align: left;
  top: 100%;
  border: none;
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.dropdown .dropdown-menu .dropdown-item {
  width: 100%;
  padding: 12px 20px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #f1f1f1;
  text-decoration: none;
  display: inline-block;
  float: left;
  clear: both;
  position: relative;
  outline: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown .dropdown-menu .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
  color: #00c2bf;
}

.dropdown-item.active, .dropdown-item:active {
  background: transparent;
}

.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}

.slicknav_btn {
  border-color: #00c2bf;
}

.slicknav_menu .slicknav_icon-bar {
  background: #00c2bf;
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #nav-main li a.nav-link {
    padding-top: 18px;
  }
}

.navbar-toggler {
  display: none;
}

.mobile-menu {
  display: none;
}

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 0px 15px;
    top: 0;
  }
  .navbar-brand img {
    width: 75%;
  }
  #mobile-menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav .active a {
    background: #E91E63;
    color: #fff;
  }
  .slicknav_nav a:hover,
  .slicknav_nav a:focus,
  .slicknav_nav .active {
    color: #00c2bf;
    outline: none;
    background: #f8f9fa;
  }
}

/* ==========================================================================
3. Hero Area
========================================================================== */
.hero-area-bg {
  background: url(../img/background/piano.jpg);
  background-size: cover;
}

#hero-area {
  color: #fff;
  overflow: hidden;
  position: relative;
}

#hero-area .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #0c0808;
  opacity: 0.4;
}

#hero-area .contents {
  padding: 175px 0px 120px;
}

#hero-area .contents h5 {
  font-size: 50px;
}

#hero-area .contents .head-title {
  color: #fff;
  font-size: 80px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

#hero-area .contents p {
  font-size: 30px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
}

#hero-area .contents .btn {
  margin: 25px 0px;
  text-transform: uppercase;
}

#hero-area .banner_bottom_btn {
  margin-top: 40px;
}

#hero-area .banner_bottom_btn i {
  color: #fff;
  font-size: 48px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#hero-area .banner_bottom_btn i:hover {
  color: #ddd;
}

/* ==========================================================================
  Portfolio Section
   ========================================================================== */
#portfolios {
  background: #f2f2f2;
}

#portfolios .mix {
  padding: 10px;
}

#portfolios .portfolio-item .shot-item {
  margin: 0px;
height: 225px;
  width: 180px;
}

#portfolio .mix {
  display: none;
}

#portfolio{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 15px;
}

.controls {
  text-align: center;
  padding: 0px 0px 20px;
}

.controls .active {
  color: #00c2bf !important;
  border-color: #00c2bf;
  background: transparent;
}

.controls .btn {
  text-transform: uppercase;
  margin: 2px;
  color: #fff;
}

.controls:hover {
  cursor: pointer;
}

.portfolio-img {
  overflow: hidden;
  display: block;
  position: relative;
}

.portfolio-img img {
  width: 100%;
}

.shot-item {
  margin-right: 15px;
  border-radius: 4px;
  background: #fff;
  position: relative;
}

.infinium-app{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shot-item img {
  width: cover;
  height: cover;
  overflow: hidden;
}

.icons{
  padding: 0 10px;
}

.shot-item .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 180, 217, 0.6);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.shot-item:hover .overlay {
  opacity: 1;
}

.overlay {
  opacity: 0;
}

.overlay .icons i {
  height: 42px;
  width: 42px;
  line-height: 42px;
  color: #00c2bf;
  left: 50%;
  margin-left: -24px;
  margin-top: -24px;
  top: 50%;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: #fff;
  border-radius: 4px;
}

.overlay .preview {
  position: absolute;
  left: 38%;
  top: 50%;
  color: #fff;
}

.overlay .link {
  position: absolute;
  left: 60%;
  margin-left: 10px;
  top: 50%;
  color: #fff;
}

.shot-item:hover .overlay {
  opacity: 1;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: #fff;
}

/* publications Item */
.publications {
  /* background: #F0F0F0; */
  margin: 0 auto;
}

.publications-item {
  background: #F0F0F0;
  height: 240px;
  width: 280px;
  border-radius: 4px;
  padding: 48px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.publications-item .icon i {
  font-size: 42px;
  margin-bottom: 15px;
  text-align: center;
  width: 48px;
  display: block;
  margin: 0 auto;
  height: 12px;
}

.coding-icons{
  height: 52px;
  width: 58px;
  padding: 0 5px;
}

.sheet-music-icons{
  height: 100px;
  width: 78px;
  padding: 0 5px;
}

.publishers-icon{
  height: 60px;
  width: 160px;
  padding: 0 5px;
}

.publications-item .publications-content h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.publications-item .publications-content h3 div {
padding-top: 25px;
  font-size: 18px;
  text-transform: uppercase;
  color: #666;
}

.publications-item .publications-content h3 a:hover {
  color: #00c2bf;
}

.publications-item .publications-content p {
  line-height: 22px;
}

.publications-item:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.publications-icons{
  margin: 0 15px;
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  padding: 8px 10px;
  border: 1px solid #e1e1e1;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

.contact-form-area {
  background: #fff;
  box-shadow: 0 0 30px #ededed;
  padding: 60px 40px;
}

.contact-form-area h2 {
  font-size: 18px;
  text-transform: uppercase;
}

.footer-right-contact {
  padding: 4px;
  border: 1px solid #e1e1e1;
}

.footer-right-contact .single-contact {
  margin: 10px 22px;
  padding: 3px 55px;
  position: relative;
  color: #666;
}

.footer-right-contact .single-contact p {
  margin-bottom: 5px;
}

.footer-right-contact .single-contact p a {
  color: #666;
}

.footer-right-contact .contact-icon {
  background: #00c2bf;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  height: 40px;
  left: 0;
  padding-top: 8px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
}

#contact {
  position: relative;
  overflow: hidden;
}

#contact #contactForm {
  margin-top: 30px;
}

.text-danger {
  font-size: 14px;
  margin-top: 10px;
}

.list-unstyled li {
  color: #d9534f;
}

#conatiner-map {
  margin-top: 30px;
  text-align: center;
  background-color: #fff;
  height: 370px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 101;
  width: 100%;
}

/* Footer Area Start */
.footer-area {
  background: #1C1C20;
}

.footer-area .footer-text p {
  font-size: 14px;
  margin-top: 20px;
  color: #fff;
}

.footer-area .footer-text p a {
  color: #00c2bf;
}

.footer-area .footer-text .nav-inline .nav-link {
  padding: 11px 7px;
  color: #888;
}

.footer-area .footer-text .nav-inline .nav-link:hover {
  color: #00c2bf;
}

.footer-2 {
  background: #252525;
}

.footer-2 img {
  margin-top: -8px;
}

.footer-2 h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
}

.footer-2 p {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  margin: 0;
  padding-right: 50px;
}

.footer-2 ul li a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.footer-2 ul li a:hover {
  color: #00c2bf;
}

#copyright {
  background: #333;
}

#copyright p {
  line-height: 42px;
  color: #fff;
  margin: 0;
}

#copyright p a {
  color: #fff;
}

#copyright p a:hover {
  color: #00c2bf;
}
.this{
	border-radius: 8px;
	box-shadow:
		0 1px 6px rgba(0,0,0,0.4),
		0 1px rgba(55,55,55,1)		
	;
	/* position: absolute; */
	height: 222px;
	width: 220px;	
	-webkit-perspective: 650px;
	-moz-perspective: 650px;
	-ms-perspective: 650px;
	-o-perspective: 650px;
	perspective: 650px;
			
}
.sharescreen{
	width: 222px;
	height: 222px;
	z-index: 997;
	position: absolute;
	top: 0px;
}
.likescreen,
.blackscreen{
	border-radius: 8px;
	position: absolute;
	top:-1px;
	height: 224px;
	width: 222px;
	z-index: 997;
}
.blackscreen{	
	background-color: rgba(0,0,0,0.8);
	z-index: 996;
}
.likecounter{
	width: 52px;
	height: 52px;
	margin: auto;
	position: absolute;
	z-index: 999;
	top:0;left:0;right:0;bottom: 0;
	background: url(https://i.imgur.com/wNPFrma.png);	
}

.socialicons{
	width: 100%;
	position: absolute;
	margin: auto;
	height: 46px;
	top:0;left:0;right:0;bottom: 0;
}
.dropdown{
	bottom:auto;
	-o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
	transform: translateY(87px);
	-webkit-transform: translateY(87px);
	-moz-transform: translateY(87px);
	-ms-transform: translateY(87px);
	-o-transform: translateY(87px);
}
.sharetext{
	position: absolute;
	color:#fff;
	font-family: 'Oswald';
	font-weight: 300;
	text-align: center;
	width: 100%;
	top:46px;
	text-transform: uppercase;
	font-size: 1em;
}
.facebook2,
.twitter,
.dribbble{	
	border-radius: 23px;	
	cursor: pointer;
	width: 46px;
	height: 46px;
	margin: 0 auto;
	right: 0; left: 0;
	position:absolute;
	box-shadow: 0 0 0 1px #fff;
	-o-transition: right 0.5s ease-in-out, left 0.5s ease-in-out, opacity 0.4s ease-in-out 0.1s;
    -ms-transition: right 0.5s ease-in-out, left 0.5s ease-in-out, opacity 0.4s ease-in-out 0.1s;
    -moz-transition: right 0.5s ease-in-out, left 0.5s ease-in-out, opacity 0.4s ease-in-out 0.1s;
    -webkit-transition: right 0.5s ease-in-out, left 0.5s ease-in-out, opacity 0.4s ease-in-out 0.1s;
    transition: right 0.5s ease-in-out, left 0.5s ease-in-out, opacity 0.4s ease-in-out 0.1s;
}

.icon:after {	
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 24px;
	content: '';
	top: -1px;
	left: -1px;
	padding: 1px;
	z-index: -1;
	opacity: 0;
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s ease-out;
	transition: transform 0.3s, opacity 0.3s ease-out;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.facebook2{
	opacity: 0;
	background: url(https://i.imgur.com/3AzFfdn.png) no-repeat center center;
}
.twitter{
	background: url(https://i.imgur.com/zCUAFPE.png) no-repeat center center;
}
.twitter .lineone{
	content: ' ';
	position: absolute;
	margin: auto;
	bottom: 0; top: 0; right: 46px;
	width: 0px;
	height: 1px;
	background-color: #fff;
	-o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.twitter .linetwo{
	content: ' ';
	position: absolute;
	margin: auto;
	bottom: 0; top: 0; left: 46px;
	width: 0px;
	height: 1px;
	background-color: #fff;
	-o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.dribbble{
	opacity: 0;
	background: url(https://i.imgur.com/pASuBLd.png) no-repeat center center;
}
.facebook2:after{
	background: #3b5998;
}
.twitter:after{
	background: #00acee;
}
.dribbble:after{
	background: #ea4c89;
}
.wrapper{
	position: absolute;
	height: 222px;
	width: 222px;
}
.thumbnail{
	display: none;
}
.randomizer_container{
  height: 450px;
}
.randomizer-img{
	border-radius: 8px;
	width: 100%;
	height: 100%;
}
.slice-content{
	overflow: hidden;
	position: absolute;
	opacity: 1;
   cursor:pointer;
	-webkit-transform-origin: center top;
	-moz-transform-origin: center top;
	-ms-transform-origin: center top;
	-o-transform-origin: center top;
	transform-origin: center top;
  -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
	width: 222px;
	height:111px;
}
.slice-content:first-child {
	border-top: 1px solid #161616;
	border-left: 1px solid #161616;
	border-right: 1px solid #000;
	border-radius: 8px 8px 0 0;
	top: 0px;
}

.slice-content:nth-child(4) {
	border-bottom: 1px solid #161616;
	border-left: 1px solid #161616;
	border-right: 1px solid #000;
	top: 112px;
	z-index: 100;
	border-radius: 0 0 8px 8px;
	-o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
  	transform-style: preserve-3d;
    
}
.flip {
    -webkit-transform: rotateX(62deg) !important;
    -moz-transform: rotateX(62deg) !important;
    -ms-transform: rotateX(62deg) !important;
    transform: rotateX(62deg) !important;
    border-bottom: 2px solid #161616 !important;

  }

 .menu{
 	position: absolute;
 	z-index: 2;
 	height:52px;
 	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #151616;
 	padding:11px;
 	width: 222px;
 	bottom: 0;
 	margin: 0 auto;
 	border-radius: 0 0 8px 8px;
 	left:0;right:0;
 	background-color: #1e1e1e;
 }
 .menu ul{
 	float: left;
 	box-shadow:
		inset 0 1px 2px rgba(0,0,0,0.6),
		0 1px rgba(50,50,50,0.5)
	;
 	margin:0 0 0 10px;
 	padding: 0;
 	list-style: none;
 	height:30px;
 	width:120px;
 	display: block;
 	border-radius: 15px;
 	background-color: #171717;
 }
 .menu li{
 	float: left;
 	position: relative;
 	cursor: pointer;
 	width: 40px;
 	height: 30px;
 	-o-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
 }
 .menu span{
	position: absolute;
 	top:0;bottom:0;right:0;left:0;
 }
 .menu li:hover,
 .menu .share:hover,
 .menu .like:hover{
 	background-color: rgba(0,0,0,0.4);
 }
 .menu .previous{
 	border-radius:15px 0 0 15px;
 	background: url(https://i.imgur.com/n2ER0Dd.png) no-repeat center center;
 }
 .previous span{ 	
 	background: url(https://i.imgur.com/vDIdKpi.png) no-repeat center center;
 }
 .menu .play{
 	background: url(https://i.imgur.com/dU17ZRl.png) no-repeat center center;
 }
 .play span{
	background: url(https://i.imgur.com/hyUlL2r.png) no-repeat center center;
 }
 .menu .pause{
 	background: url(https://i.imgur.com/D1iTyjp.png) no-repeat center center;
 }
 .pause span{
	background: url(https://i.imgur.com/dBQOlg1.png) no-repeat center center;
 }
  .menu .next{
  	border-radius:0 15px 15px 0;
 	background: url(https://i.imgur.com/d4yYfGs.png) no-repeat center center;
 }
 .next span{
	background: url(https://i.imgur.com/JyDNjL9.png) no-repeat center center;
 }
 .menu .share,
 .menu .like{
 	position: relative;
 	height: 30px;
 	width: 30px;
 	cursor: pointer;
 	border-radius: 15px;
 	box-shadow:
		inset 0 1px 2px rgba(0,0,0,0.6),
		0 1px rgba(50,50,50,0.5)
		;
	-o-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
 }
 .menu .like{
 	float: right;
 	background: #171717 url(https://i.imgur.com/APpk31d.png) no-repeat center center;
 }
 .like span{
 	background: url(https://i.imgur.com/BUoeur6.png) no-repeat center center;
 }
 .menu .share{ 	
 	float: left;
 	background: #171717 url(https://i.imgur.com/aGosymG.png) no-repeat center center;
 }
 .share span{ 
 	background: url(https://i.imgur.com/sVrgiY0.png) no-repeat center center;
 }
